<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.explore.dao.ExamMapper">
  <resultMap id="BaseResultMap" type="com.explore.pojo.Exam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="exam_type_id" jdbcType="INTEGER" property="examTypeId" />
    <result column="subscribe" jdbcType="VARCHAR" property="subscribe" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
  </resultMap>
  <resultMap id="ExamBatchVo" type="com.explore.vo.ExamBatchVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <!--<result column="paper_id" jdbcType="INTEGER" property="paperId" />-->
    <result column="exam_type_id" jdbcType="INTEGER" property="examTypeId" />
    <result column="subscribe" jdbcType="VARCHAR" property="subscribe" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="batchId" jdbcType="INTEGER" property="batchId" />
    <result column="batchName" jdbcType="VARCHAR" property="batchName" />
    <result column="batchDescribe" jdbcType="VARCHAR" property="batchDescribe" />
    <result column="batchStartTime" jdbcType="TIMESTAMP" property="batchStartTime" />
    <result column="batchEndTime" jdbcType="TIMESTAMP" property="batchEndTime" />
    <result column="batchStudentStatus" jdbcType="INTEGER" property="batchStudentStatus" />
    <!--<result column="class_id" jdbcType="INTEGER" property="classId" />-->
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, paper_id, exam_type_id, subscribe, start_time, end_time, creator_id,
    create_time, update_time,class_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectExams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from exam order By create_time Desc
  </select>
  <select id="selectTeacherExams" resultMap="BaseResultMap">
    SELECT
      exam.*
    FROM
      exam
        INNER JOIN class ON exam.class_id = class.id
    WHERE
      class.teacher_id =#{teacherId} order By create_time Desc
  </select>
  <select id="selectExamBatchVoByStudentId" resultMap="ExamBatchVo">
    SELECT exam.*,batch.id as batchId,batch.name as batchName,batch.describe as batchDescribe,batch.start_time as batchStartTime,
    batch.end_time as batchEndTime,status as batchStudentStatus
    FROM exam_student
    INNER JOIN exam on exam_id = exam.id
    INNER JOIN batch on batch_id = batch.id
    where student_id = #{student_id}
  </select>
    <select id="selectExamsByStudentId" resultType="com.explore.pojo.Exam">
      select
      <include refid="Base_Column_List" />
      from exam
      where class_id in (select class_id from student_class where student_id = #{studentId})
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.explore.pojo.Exam"  useGeneratedKeys="true" keyProperty="id">
    insert into exam (id, `name`, paper_id,
      exam_type_id, subscribe, start_time, 
      end_time, creator_id, create_time, 
      update_time,class_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{paperId,jdbcType=INTEGER}, 
      #{examTypeId,jdbcType=INTEGER}, #{subscribe,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{classId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.explore.pojo.Exam">
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="examTypeId != null">
        exam_type_id,
      </if>
      <if test="subscribe != null">
        subscribe,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="classId != null">
        class_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="examTypeId != null">
        #{examTypeId,jdbcType=INTEGER},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.explore.pojo.Exam">
    update exam
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="examTypeId != null">
        exam_type_id = #{examTypeId,jdbcType=INTEGER},
      </if>
      <if test="subscribe != null">
        subscribe = #{subscribe,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.explore.pojo.Exam">
    update exam
    set `name` = #{name,jdbcType=VARCHAR},
      paper_id = #{paperId,jdbcType=INTEGER},
      exam_type_id = #{examTypeId,jdbcType=INTEGER},
      subscribe = #{subscribe,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
        class_id = #{classId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>