<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.explore.dao.PaperComposeMapper">
  <resultMap id="BaseResultMap" type="com.explore.pojo.PaperCompose">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_type_id" jdbcType="INTEGER" property="questionTypeId" />
    <result column="question_num" jdbcType="INTEGER" property="questionNum" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="single_score" jdbcType="DOUBLE" property="singleScore" />
  </resultMap>
  <resultMap id="voQuestionMap" type="com.explore.vo.PaperComposeVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_type_id" jdbcType="INTEGER" property="questionTypeId" />
    <result column="question_num" jdbcType="INTEGER" property="questionNum" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="single_score" jdbcType="DOUBLE" property="singleScore" />
  </resultMap>

  <sql id="Base_Column_List">
    id, paper_id, question_type_id, question_num, sequence, single_score
  </sql>
  <select id="selectQuestionByPaperIdOrderBySequence" parameterType="java.lang.Integer" resultMap="voQuestionMap">
    select
      *
    from paper_compose
    where paper_id = #{paperId,jdbcType=INTEGER} order by sequence
  </select>
  <select id="selectPaperComposeByPaperIdAndSequence" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      *
    from paper_compose
    where paper_id = #{paperId,jdbcType=INTEGER} and sequence= #{sequence,jdbcType=INTEGER}
  </select>
  <select id="selectPaperComposeByPaperIdAndQuestionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      *
    from paper_compose
    where paper_id = #{paperId,jdbcType=INTEGER} and question_id= #{questionId,jdbcType=INTEGER}
  </select>
  <select id="maxSequence" resultType="Integer" >
    select
      MAX(sequence)
    from paper_compose
    where paper_id = #{paperId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paper_compose
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paper_compose
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPaperId" parameterType="java.lang.Integer">
    delete from paper_compose
    where paper_id = #{paperId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.explore.pojo.PaperCompose">
    insert into paper_compose (id, paper_id, question_type_id, question_id,
      question_num, sequence, single_score
      )
    values (#{id,jdbcType=INTEGER}, #{paperId,jdbcType=INTEGER}, #{questionTypeId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER},
      #{questionNum,jdbcType=INTEGER}, #{sequence,jdbcType=INTEGER}, #{singleScore,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.explore.pojo.PaperCompose">
    insert into paper_compose
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="questionTypeId != null">
        question_type_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="questionNum != null">
        question_num,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="singleScore != null">
        single_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="questionTypeId != null">
        #{questionTypeId,jdbcType=INTEGER},
      </if>
      <if test="questionNum != null">
        #{questionNum,jdbcType=INTEGER},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="singleScore != null">
        #{singleScore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.explore.pojo.PaperCompose">
    update paper_compose
    <set>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="questionTypeId != null">
        question_type_id = #{questionTypeId,jdbcType=INTEGER},
      </if>
      <if test="questionNum != null">
        question_num = #{questionNum,jdbcType=INTEGER},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="singleScore != null">
        single_score = #{singleScore,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.explore.pojo.PaperCompose">
    update paper_compose
    set paper_id = #{paperId,jdbcType=INTEGER},
      question_type_id = #{questionTypeId,jdbcType=INTEGER},question_id = #{questionId,jdbcType=INTEGER},
      question_num = #{questionNum,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER},
      single_score = #{singleScore,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateTosequenceByPaperId">
    update paper_compose
    set
        sequence =sequence-1
    where paper_id = #{paperId,jdbcType=INTEGER} and sequence>=#{sequence,jdbcType=INTEGER}
  </update>
</mapper>