<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.explore.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.explore.pojo.Question">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="question_type_id" jdbcType="INTEGER" property="questionTypeId" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_subjective" jdbcType="INTEGER" property="isSubjective" />
    <result column="difficulty" jdbcType="INTEGER" property="difficulty" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="key_point" jdbcType="VARCHAR" property="keyPoint" />
    <result column="default_score" jdbcType="VARCHAR" property="defaultScore" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, question_type_id, answer, create_time, update_time, is_subjective, 
    difficulty, subject_id, status, key_point
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAllQuestions" resultMap="BaseResultMap">
      SELECT
        *
      FROM question

    </select>
  <select id="selectQuestionsByQuestionTypeIdAndSubjectId" resultMap="BaseResultMap">
    SELECT
      *
    FROM question
    where  question_type_id = #{questionTypeId,jdbcType=INTEGER} AND  subject_id = #{subjectId,jdbcType=INTEGER}

  </select>
  <select id="selectQuestionByQuestionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
      *
    FROM question
    WHERE id = #{questionId,jdbcType=INTEGER}

  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.explore.pojo.Question">
    insert into question (id, title, content, 
      question_type_id, answer, create_time, 
      update_time, is_subjective, difficulty, 
      subject_id, status, key_point,default_score
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{questionTypeId,jdbcType=INTEGER}, #{answer,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isSubjective,jdbcType=INTEGER}, #{difficulty,jdbcType=INTEGER}, 
      #{subjectId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{keyPoint,jdbcType=VARCHAR}, #{defaultScore,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.explore.pojo.Question">
    update question
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      question_type_id = #{questionTypeId,jdbcType=INTEGER},
      answer = #{answer,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_subjective = #{isSubjective,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      key_point = #{keyPoint,jdbcType=VARCHAR},default_score= #{defaultScore,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>