<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="batch:${batches}">
        <h3 th:text="${batch.name}"></h3>
        考试id:<span th:text="${batch.examId}"></span><br>
        描述:<span th:text="${batch.describe}"></span><br>
        开始时间:<span th:text="${#dates.format(batch.startTime,'yyyy-MM-dd HH:mm')}"></span><br>
        结束时间:<span th:text="${#dates.format(batch.endTime,'yyyy-MM-dd HH:mm')}"></span><br>
        <a th:href="@{'/exam/batch/enroll/'+${batch.id}}">报名</a>
        <hr/>
    </div>
</body>
</html>