<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="exam:${exams}">
        <h3 th:text="${exam.name}"></h3>
        科目:<span th:text="${exam.subjectId}"></span><br>
        考试类型:<span th:text="${exam.examTypeId}"></span><br>
        开始时间:<span th:text="${#dates.format(exam.startTime,'yyyy-MM-dd HH:mm')}"></span><br>
        结束时间:<span th:text="${#dates.format(exam.endTime,'yyyy-MM-dd HH:mm')}"></span><br>
        <a th:href="@{'/exam/batch/'+${exam.id}}">查看批次</a>
        <hr/>
    </div>
</body>
</html>