<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" cellpadding="10">
        <tr>
            <th>功能</th>
            <th>url</th>
            <th>请求方式</th>
        </tr>
        <tr>
            <td>学生登录</td>
            <td><a href="/student/toLogin">/student/toLogin</a></td>
            <td>GET</td>
        </tr>
        <tr>
            <td>管理登录</td>
            <td><a href="/manage/toLogin">/manage/toLogin</a></td>
            <td>GET</td>
        </tr>
        <tr>
            <td>教师登录</td>
            <td><a href="/teacher/toLogin">/teacher/toLogin</a>
            <td>GET</td>
        </tr>
        <tr>
            <td>统一登出</td>
            <td><a href="/logout">/logout</a></td>
            <td>GET</td>
        </tr>
        <tr>
            <th>Exam模块</th>
            <th></th>
        </tr>
        <tr>
            <td>考试列表</td>
            <td><a href="/exam">/exam</a></td>
            <td>GET</td>
        </tr>
        <tr>
            <th>Paper模块</th>
            <th></th>
        </tr>
        <tr>
            <td>试卷列表</td>
            <td><a href="/paper">/paper</a></td>
            <td>GET</td>
        </tr>
        <tr>
            <th>Question模块</th>
            <th></th>
        </tr>
        <tr>
            <td>题目列表</td>
            <td><a href="/question">/question</a></td>
            <td>GET</td>
        </tr>
    </table>
</body>
</html>